.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(150, 51, 40);
    color: white;
}

.Navbar-title {
    margin-left: 7rem;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
}

.Navbar-cartInfo {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    margin-right: 7rem;
    padding: .5rem 2.5rem;
    align-items: center;
    border-radius: 2rem;
}

.Navbar-cartInfo:hover {
    cursor: pointer;
}

.Navbar-cartInfo-content {
    margin: 0 .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.Navbar-itemTotals {
    background-color: rgb(210, 78, 30);
    padding: 0rem 1rem;
    border-radius: 1rem;
}

